<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Our Services</h2>
        <br/><br/>
        <blockquote>
        <p style="text-align: center;font-size: 20px; padding: 0 25%; font-style: italic; color: grey;">“Craftsmanship is a concept we don’t always associate with technology products… there is still a lot of craftsmanship that goes into creating hardware.”</p></blockquote>
    </div>
</div>

<style type="text/css">
	p.img_head{
		text-align: center; 
		padding-top: 12px;
		font-weight: bold;
	}
</style>
<br/>
<br/><br/>
<div class="container-fluid">
	<div class="row">
	    <div class="col-sm-3" style="background-color:#ffffff;">
	    	<div class="thumbnail">
	    	<img class="img-responsive" src="assets/images/safe_image-9.jpg" alt="img-1">
	    	<p class="img_head">
	    	Prototyping Services</p>
	    	</div>
	    	<p style="text-align:center;">We provide 3D Printing , Laser Cutting, Sheet Metal and various other fabrication process.</p><br/><br/>
	    </div>
	    <div class="col-sm-3" style="background-color:#ffffff;">
	    	<div class="thumbnail">
	    	<img class="img-responsive" src="assets/images/safe_image-2.jpg" alt="img-1">
	    	<p class="img_head">
	    	PCB Design Services
	    	</p>
	    	</div>
	    	<p style="text-align:center;">We offer both complete and componentized solutions in embedded systems, product realization and application software.</p><br/><br/>
	    </div>
	    <div class="col-sm-3" style="background-color:#ffffff;">
	    	<div class="thumbnail">
	    	<img class="img-responsive" src="assets/images/safe_image-13.jpg" alt="img-1">
	    	<p class="img_head">
	    	Mechanical Design Services
	    	</p>
	    	</div>
	    	<p style="text-align:center;">Concept Design, Engineering Analysis, Detail Design, Technical Documentation and Support services.</p><br/><br/>
	    </div>
	    <div class="col-sm-3" style="background-color:#ffffff;">
	    	<div class="thumbnail">
	    	<img class="img-responsive" src="assets/images/safe_image-7.jpg" alt="img-1">
	    	<p class="img_head">
	    	Regulatory and Environmental Compliance
	    	</p>
	    	</div>
	    	<p style="text-align:center;">We provide a host of solutions that enable customers to meet their regulatory compliance obligations – be it for RoHS, CE, FCC or any other major legislation.</p><br/>
	    </div>
	</div>
</div>
