<script src="http://code.angularjs.org/1.2.2/angular.min.js"></script> 
<link rel="stylesheet" type="text/css" href="assets/css/dashboard.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<div class="home" style="border:100px; padding:20px;" ng-controller="dashCtrl as ctrl">
    <div class="user-dashboard">
    <h2>My projects</h2>
    <div class="header-rightside">
        <ul class="list-inline header-top pull-right">
            <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Add Project</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src=" " alt="user"><b class="caret"></b></a></li>
        </ul>
        <ul class="dropdown-menu">
            <li>
                <div class="navbar-content">
                <span>Kushal</span>
                <p class="text-muted small">kushal@brahm.works</p>
                <div class="divider">
                </div>
                <a href="#" class="view btn-sm active">View Profile</a>
                </div>
            </li>
        </ul>               
    </div>
    </div>

    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>


                <div class="modal-body">                 
                           
                        <div ng-repeat="field in ctrl.fields  | limitTo:2">
                            <h5>{{field.label}}</h5> 
                            <input ng-model="ctrl.record[field.key]" class="form-control" placeholder="{{field.label}}"/>
                        </div>
                        
                        <h5>Upload a .stl file</h5>
                        <input type="file" file-input="files" accept=".stl"/>
                        <button ng-click="upload()"> Submit </button>
                        <li>{{file.name}}</li>


                         <h5>Process</h5>
                    <select ng-options="branch.id as branch.name for branch in branches"
                            ng-model="selectedBranchId"
                            ng-change="loadLocations(selectedBranchId)">
                      <option value="">Select Process</option>
                    </select>
                    <h5>Material</h5> 
                    <select ng-options="location.id as location.name for location in locations | filter: { branchId: selectedBranchId }"
                            ng-model="selectedLocationId"
                            ng-disabled="!selectedBranchId"
                            ng-change="loadMaterial(selectedLocationId)">
                      <option value="">Select Material</option>
                    </select>


                </div>
                    <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="Submit" class="add-project" data-dismiss="modal" ng-click="ctrl.saveRecord()">Save </button>
                    </div>



<!--

<div class="container" ng-controller="appCtrl as ctrl">
            <h1>MEAN - Records app</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-repeat="field in ctrl.fields">
                            {{field.label}}
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td ng-repeat="field in ctrl.fields">
                        <input ng-model="ctrl.record[field.key]" class="form-control" placeholder="{{field.label}}"/>
                    </td>
                    <td>
                        <button ng-click="ctrl.saveRecord()" class="btn btn-primary">Save</button>
                        <button ng-click="ctrl.cancelEdit()" class="btn btn-warning">Cancel</button>
                    </td>
                </tr>
                <tr ng-repeat = "record in ctrl.records">
                    <td ng-repeat="field in ctrl.fields">
                        {{record[field.key]}}
                    </td>
                    <td>
                        <span ng-click="ctrl.editRecord(record)" class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-right: 10px;"></span>
                        <span ng-click="ctrl.deleteRecord(record._id)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </td>
                </tr>
            </table>
        </div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="app.js"></script> -->


            </div>
        
        </div>
    </div>
    <style type="text/css">
        .css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}
    </style>

                    <table class="table css-serial">
                <thead>
                    <tr>
                        <th>
                            Sl no.
                        </th>
                        <th ng-repeat="field in ctrl.fields | limitTo:5">
                            {{field.label}}
                        </th>
                        <th>
                            Quote
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                <tr ng-repeat = "record in ctrl.records">
                    <td >

                    </td>

                    <td ng-repeat="field in ctrl.fields | limitTo:5">
                        {{record[field.key]}}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary" ng-click="quote()">Get Quote</button>
                    </td>
                    <td>
                        <span ng-click="ctrl.editRecord(record)" class="glyphicon glyphicon-pencil" aria-hidden="true" style="padding-right: 10px;"></span>
                        <span ng-click="ctrl.deleteRecord(record._id)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </td>
                </tr>
            </table>
           
                
</div>
